:root {
/* COLOR */
--white-color: #fff;
--black-color: #140a00;
--blue-color: #045fd4;
--red-color: #ff0000;
--gray-dark-color: #909090;
--gray-light-color: #e0e0e0;

/* SIZE */
--padding: 12px;
--avatar-size: 36px;

/* FONT SIZE */
--font-large: 18px;
--font-medium: 14px;
--font-small: 12px;
--font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color: var(--red-color);
}

header .icons .fa-search {
    margin-right: var(--padding);
}

/* VIDEO */
.player {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--black-color);
}

.player video {
    width: 100%;
    height: 300px;
    max-width: 1000px;
}

/* INFO */
.infoAndUpNext > .info {
    padding: var(--padding);
}

.info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

.info .metadata .hashtags li {
    margin-right: var(--padding);
}

.info .metadata .titleAndButton {
    display: flex;
}

.info .metadata .titleAndButton .vid__title {
    font-size: var(--font-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: var(--padding);
}

.info .metadata .titleAndButton .moreBtn {
    height: 100%;
}

.info .vid__views {
    font-size: var(--font-small);
    color: var(--gray-dark-color);
}

/* ACTIONS */
.info .actions {
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0;
}

.info .actions button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
}

.info .actions button i {
    margin: 0 auto;
    margin-bottom: calc(var(--padding) / 2);
    font-size: 16px;
}

.info .actions button i.active {
    color: var(--blue-color);
}

/* CHANNEL */
.info .channel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--gray-light-color);
    border-bottom: 1px solid var(--gray-light-color);
    
}

.info .channel .channel__data {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.info .channel .channel__data img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    margin-right: var(--padding);
}

.info .channel .channel__data .channel__info {
    display: flex;
    flex-direction: column;
}

.info .channel .channel__data .channel__info .title {
    font-size: var(--font-medium);
}

.info .channel .channel__data .channel__info .subscribers {
    font-size: var(--font-small);
    color: var(--gray-dark-color);
}

.info .channel .btn--subscribe {
    color: var(--red-color);
    font-size: var(--font-medium);
    font-weight: 500;
}

/* UPNEXT */
.upNext {
   padding: 0 var(--padding);
}

.upNext > .title {
    font-size: var(--font-medium);
    color: var(--gray-dark-color);
    margin-bottom: calc(var(--padding) / 2);
}

.upNext .item {
    display: flex;
    margin-top: 8px;
}

.upNext .item img {
    flex: 1 1 35%;
    width: 100%;
    max-width: 150px;
    margin-right: var(--padding);
}

.upNext .item .info {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    
}

.upNext .item .info .title {
    font-size: var(--font-small);
}

.upNext .item .info .name,
.upNext .item .info .views {
    font-size: var(--font-micro);
    color: var(--gray-dark-color);
}

.upNext .item .info .btn--more {
    float: 1 1 5%;
    display: flex;
    padding: 5px;
    font-size: var(--font-small);
}

.infoAndUpNext {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .infoAndUpNext {
        flex-direction: row;
        margin: var(--padding) 0;
    }
    
}
